*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fondo*/
body{
    background-color: #1a1a1a;
}

/*Encabezado*/
header {
    width: 100%;
    height: 70px;
    background-color: #333;
    color: #f5f5f5;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-h1{
    color: #f5f5f5;
    font-family: "playfair display", serif;
    font-size: 32px;
    font-weight: 400;
    padding: 5px;
}

.nav-a {
    font-family: "playfair display", serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: 1;
    margin: 0px 10px;
}

.input-buscar{
    color: #f5f5f5;
    font-family: "playfair display", serif;
    font-size: 16px;
    font-weight: 400;
}
.btn-outline-success{
    color: #f5f5f5;
    font-family: "playfair display", serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: 0;
    margin: 0px 10px;
    border: 1px solid #f5f5f5; 
}

.btn-outline-success:hover{
    background-color: #f5f5f5;
    color: #333;
}

/*Sección Héroe*/
.carousel-item{
    position: relative;
    height: 530px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    -webkit-filter: none;
    filter: none;
}

.seccion-heroe-div{
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.seccion-heroe-div h2{
    width: auto;
    height: auto;
    color: #f5f5f5;
    font-family: "playfair display", serif;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    background-color:rgba(26, 26, 26, 0.7);
    padding: 10px;
}

.seccion-heroe-div a{
    position: absolute;
    width: 110px;
    height: auto;
    color: #f5f5f5;
    font-family: "playfair display", serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    background-color: #333;
    padding: 5px;
    top: 80%;
    left: 4%;
}

.seccion-heroe-div a:hover{
    background-color: #f5f5f5;
    color: #333;
}





